* {
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}

html, body {
    padding:0;
    margin:0;
}

h2 {
    padding: 1.25rem;
    margin-top:0;
    background-color:  #0075b6;
    text-align: center;
    font-weight: normal;
    color: #c7dcec;
    box-shadow: 0 0 0.5rem 0.125rem #888888;
}

p {
    margin-left: 2.188rem;
    line-height: 1.313rem;
    color: #2d3a43;
}

hr {
    border: 0.5rem solid #0075b6;
    margin-bottom: 0.75rem;
}

i {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%230ac12d%7D.cls-2%7Bfill%3A%23fff%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22Group_611%22%20data-name%3D%22Group%20611%22%20transform%3D%22translate(-716%20-169)%22%3E%3Crect%20id%3D%22Rectangle_386%22%20data-name%3D%22Rectangle%20386%22%20class%3D%22cls-1%22%20width%3D%2214%22%20height%3D%2214%22%20rx%3D%222%22%20transform%3D%22translate(716%20169)%22%2F%3E%3Cpath%20id%3D%22Path_1839%22%20data-name%3D%22Path%201839%22%20class%3D%22cls-2%22%20d%3D%22M2-9.639v1.172a2.373%202.373%200%200%200-1.024.507%202.359%202.359%200%200%200-.563.839A3.257%203.257%200%200%200%20.2-5.878a1.585%201.585%200%200%201%201.28.492A1.594%201.594%200%200%201%201.9-4.34a1.473%201.473%200%200%201-.46%201.1%201.489%201.489%200%200%201-1.069.445%201.722%201.722%200%200%201-1.365-.68%202.818%202.818%200%200%201-.567-1.862%204.339%204.339%200%200%201%20.45-1.951A4.758%204.758%200%200%201%20.113-8.842%203.63%203.63%200%200%201%202-9.639zm-4.586%200v1.172a2.373%202.373%200%200%200-1.024.507%202.359%202.359%200%200%200-.563.839%203.257%203.257%200%200%200-.211%201.243%201.583%201.583%200%200%201%201.284.492%201.6%201.6%200%200%201%20.414%201.046%201.473%201.473%200%200%201-.46%201.1%201.489%201.489%200%200%201-1.069.445%201.726%201.726%200%200%201-1.36-.68%202.8%202.8%200%200%201-.572-1.862A4.339%204.339%200%200%201-5.7-7.285a4.758%204.758%200%200%201%201.228-1.557%203.63%203.63%200%200%201%201.889-.797z%22%20transform%3D%22translate(725.146%20182.639)%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;  
    height: 0.875rem;
    margin-left: 0.938rem;
    margin-bottom: 0.125rem;
    vertical-align: middle;
    width: 0.875rem;
}

.key, .value {
    font-family: "Source Code Pro",monospace;
    font-size: 0.813rem;
    line-height: 1.313rem;
}

.key {
    color: #2d3a43;
}

.value {
    color: #149570;
}

form {
    padding: 3.125rem;
    line-height: 2;
}

label {
    color: #424242;
}

input[type="text"] {
    padding: 0.25rem 6.25rem 0.25rem 0.25rem;
    border: none;
    border-bottom:  solid #0075b6;
}

input[type="submit"] {
    padding: 0.375rem 0.625rem;
    margin-top: 0.938rem;
    background-color: #0075b6;
    color: #c7dcec;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.125rem;
}
